*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #efefef;
  font-family: Georgia;
  background: #0f0f0f;
  font-family: 'PT Serif', serif;
}
.container
{
  width: 100%;

}
.header
{
  width: 100%;
  height: 60px;
  background:#276e90 ;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 0.7rem;
}
.header .logo a
{
  color: #0a3143;
  text-decoration: none;
}
.header .title
{
  color:#cecfc9 ;
  font-size:1.5rem;
}
.menu_mobil
{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.7rem;
  height: 40px;
  cursor: pointer;
}
.bar
{
  width: 100%;
  height: 5px;
  position: relative;
  color: #000 ;
  margin-top: 4px;
  transition :transform 0.4s;

}
.bar::after
{
  content: "";
  position: absolute;
  background :#cecfc9 ;
  top: 0;
  left: 0;
  width: 100%;
  height:4px;
  border-radius: 3px;
}
.bar_transform1
{
  transform: rotate(55deg);
}
.bar_transform2
{
  transform: translate(0,-10px) rotate(-55deg);
}
.bar_hidden
{
  display: none;
}

.navegation
{
  position: sticky;
  top: 0;
  padding: 1rem;
  background: rgba(15, 15, 15, 0.962);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

}
.menu
{
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu li
{
  transition: border-bottom 0.3s ease-in;
  list-style: none;
  font-size: 1.4rem;
}
.menu li a
{
  display: block;
  color: #cecfc9 ;
  padding:0.4rem 0.7rem;
  text-decoration: none ;
  /* background: #276e90 ; */
  border-radius: 0.4rem;
  text-align: center;
  transition: background 0.3s ease-in;
}
.menu li a:hover{
  background: #276e90 ;
}
.menu li.active{
  border-bottom: 2px solid red;
}
.form{

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}
.form label{
  color: #fff;
  font-size: 18px;
  margin-right: 0.4rem;
}
.search{
  padding:0.5rem;
  font-size: 16px;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid #ddd;
  color: #fff;
}
.search:focus{
  outline: none;
  background-color: transparent;
}
.movies
{
  min-width: 424px;
  padding:1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-content: center;
  gap: 0.6rem;
}
.movie
{
  cursor: pointer;
  width: 150px;
  height: max-content;
  margin: 0;
  padding: 0;
  border: 2px solid red;
  border-radius: 5%;
  overflow: hidden;
}
.poster
{
  object-fit: cover;
  width:100%;
  height: 220px;
}
.info
{
  width: 100%;
  padding:0.2rem;
  color: #Fff;
}
.title{
  padding: 0.3rem;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.card
{
  position: relative;
  width: 150px;

}
.card .vote_average{
  position: absolute;
  padding: 5px;
  top: 5 px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.699);
  color: rgb(238, 177, 10);
  border-radius: 50%;
}
.pagination{
  display: flex;
  margin: 2rem auto;
  justify-content: center;
  color: #efefef;
  font-size: 1.5rem;
}
.prev,.counter,.next,.currentpage,.lastpage{
  padding: 0.8rem;
}
.prev,.next{
  cursor: pointer;
}
.lastpage{
  text-align: center;
}

/* Display 900px */
@media (max-width: 900px) {
  .menu li
  {

    font-size: 1.2rem;
  }
}
/* Display 796px */
@media (max-width: 796px) {
  .menu li
  {

    font-size: 1rem;
  }
}

/* Display 698px */
@media (max-width: 698px) {
  .menu li
  {

    font-size: 0.9rem;
  }
}

/* Display 568px */
@media (max-width: 568px) {
  .header
{
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background:#276e90 ;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 0.7rem;
}
  .navegation
  {
    position: fixed;
    background: rgb(15, 15, 15);
    height: max-content;
    top: 60px;
    transform: translate(-100%);
    transition: transform 0.4s;
    width: 10rem;
    z-index: 1;
}
.menu_visible
{
  transition: transform 0.4s;
  transform: translate(0);
}
.menu
{
  display: flex;
  flex-direction: column;
}
.menu li{
  margin-top: 1rem;
  font-size: 1.4rem;
}
.form{
   margin-top:80px;
}
}
